/* css only for hover effect all hover effect must write in this Media query */

@media only screen and (min-width: 1200px) {
  .btn:hover {
    color: #00afda;
    border-color: #00afda;
  }

  .btn:hover:after:enabled {
    border-left-color: #00afda;
  }

  .btn_new:hover:enabled {
    color: #fff;
    border-bottom-color: #00afda;
    background: #04749c;
  }

  .btn_new:disabled {
    opacity: 0.6;
  }

  .socialMain .socialLink:hover {
    opacity: 0.6;
  }

  .next-btn:hover:after {
    /* background: #00afda; */
  }

  .next-btn:hover:before {
    border-color: #00afda;
  }

  .back-btn:hover:before {
    /* background: #00afda; */
  }

  .back-btn:hover:after {
    border-color: #00afda;
  }

  .cta:hover {
    border-color: #00afda;
  }

  .navigation li a:hover {
    background: #f5f5f5;
  }

  .navigation li a:hover .navTitle {
    color: #00afda;
  }

  .directoryTable {
    table-layout: fixed;
  }
  .directoryTable tr td:hover {
    background-color: #f5f7fa;
  }

  .directoryTable tr td p a:hover {
    color: #00b4e1;
  }

  .note a:hover {
    text-decoration: none;
    color: #00b4e1;
  }

  .linksList .linksBox li a:hover {
    color: #00b4e1;
  }

  .linksList .linksBox li a:hover:before {
    background-color: #00b4e1;
  }

  .linksList .linksBox li a:hover:after {
    border-color: #00b4e1;
  }
}

@media only screen and (min-width: 767px) {
  .leftsideBar {
    width: 115px;
  }

  .rightSide {
    width: calc(100% - 115px);
    /* margin-left: 115px; */
    padding-top: 36px;
  }

  .openSidebar,
  .leftsideBar {
    width: 300px;
  }

  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: calc(100% - 300px);
    margin-left: 300px;
  }

  .openSidebar .progressSec .progressTitle,
  .leftsideBar .progressSec .progressTitle {
    display: block;
    width: 100%;
    height: auto;
  }

  /*.openSidebar .navigation li a,.leftsideBar:hover .navigation li a{width:100%}*/

  .openSidebar .navigation li .navTitle,
  .leftsideBar .navigation li .navTitle {
    opacity: 1;
  }

  .fixbody .overlay {
    display: none;
  }

  .fixbody {
    position: static;
    overflow: inherit;
  }
}

@media only screen and (min-width: 614px) {
  .rightSide {
    padding-left: 115px;
    padding-right: 115px;
  }
}

@media only screen and (max-width: 1681px) {
  p {
    font-size: 1.125rem;
  }

  .headerMain .largeBtn {
    min-width: 260px;
    padding: 10px 15px;
  }

  .homePage {
    min-height: calc(100vh - 155px);
    padding: 50px 0; /* background-size: 86% auto;*/
  }

  .homeCont h1 {
    font-size: 2.25rem;
    margin-bottom: 16px;
  }

  .headLeft {
    padding-top: 6px;
  }

  .headerMain .logo img {
    max-height: 70px;
  }

  .btn_new {
    width: 300px;
    padding: 15px 70px 15px 22px;
    font-size: 1.45rem;
  }

  .btn_new:after {
    width: 38px;
    height: 26px;
  }

  .btn_new:disabled {
    opacity: 0.6;
  }

  .socialMain .socialTitle {
    font-size: 1.05rem;
  }

  .socialMain .socialLink {
    font-size: 0.85rem;
  }

  .selectList {
    margin-top: 22px;
  }

  .homeCont p {
    margin-bottom: 0.85rem;
  }

  .bottomBtn {
    padding-top: 80px;
  }

  .navigation li a {
    padding: 13px 35px;
  }

  .rightSide {
    padding-top: 36px;
  }

  .midConScroll {
    max-height: calc(100vh - 174px);
  }

  .minConHeight {
    min-height: calc(100vh - 250px);
  }

  .videoPage .subTitle + .midConScroll {
    max-height: calc(100vh - 316px);
  }

  .videoPage .subTitle + .midConScroll .minConHeight {
    min-height: calc(100vh - 436px);
  }

  .imgMax img {
    max-width: 100%;
    max-height: 450px;
  }

  .homePage {
    padding: 40px 0 20px 0;
  }

  .bigTitle + .midConScroll {
    display: block;
    width: 100%;
    max-height: calc(100vh - 250px);
  }

  .bigTitle + .midConScroll .minConHeight {
    display: block;
    width: 100%;
    min-height: calc(100vh - 330px);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1368px) {
  p {
    font-size: 1rem;
  }

  /*.rightSideInner{margin-bottom: 30px;}*/

  .navigation li a {
    padding: 12px 18px;
  }

  .leftsideBar {
    width: 87px;
  }

  .rightSide {
    width: calc(100% - 87px);
    margin-left: 87px;
  }

  .navigation li a,
  .openSidebar,
  .leftsideBar {
    width: 280px;
  }

  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: calc(100% - 280px);
    margin-left: 280px;
  }

  .midConScroll {
    max-height: calc(100vh - 200px);
  }

  .subTitle + .midConScroll {
    max-height: calc(100vh - 220px);
  }

  .minConHeight {
    min-height: calc(100vh - 280px);
  }

  .homePage {
    padding: 30px;
  }

  .homePage .container {
    max-width: 980px;
  }

  .homeCont h1 {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .homeCont p {
    font-size: 1.125rem;
  }

  .homePage h2 {
    margin-top: 8px;
    font-size: 1.4rem;
  }

  .selectList {
    margin-top: 16px;
  }

  .bottomBtn {
    padding-top: 60px;
  }

  .btn_new {
    width: 280px;
    padding: 14px 60px 14px 20px;
    font-size: 1.3rem;
  }

  .btn_new:disabled {
    opacity: 0.6;
  }

  .cms_style h1,
  .secTitle {
    font-size: 2rem;
  }

  .cta {
    font-size: 1rem;
  }

  .headerMain .btn {
    line-height: 1;
    font-size: 0.85rem;
    min-width: 160px;
  }

  .big-btn {
    font-size: 1rem;
  }

  h5.founded {
    font-size: 1.125rem;
  }

  .cms_style h5 {
    font-size: 1rem;
  }

  .linksList .linksBox li {
    margin-bottom: 20px;
  }

  .linksList .linksBox li a {
    padding-left: 30px;
  }

  .linksList .linksBox li a:before {
    width: 18px;
  }

  .linksList .linksBox li a:after {
    left: 6px;
  }

  .videoBox .videoTitle {
    font-size: 1.125rem;
    margin-bottom: 16px;
  }
}

/* common css for below screen 1199 */

@media only screen and (max-width: 1199px) {
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .headerMain .largeBtn {
    min-width: inherit;
  }

  .homeCont h1 {
    font-size: 2.65rem;
  }

  .homePage {
    padding: 60px 0;
  }

  .bottomBtn {
    padding-top: 80px;
  }

  /*.progressSec .progressTitle{font-size:1.4rem;}

.navigation li a{padding:15px;}

.navigation li .navIcon{width:65px; height:65px; }*/

  .navigation li a,
  .openSidebar,
  .leftsideBar {
    width: 230px;
  }

  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: calc(100% - 230px);
    /* margin-left: 230px; */
  }

  .navigation li .navTitle {
    font-size: 0.875rem;
  }

  .ctaList {
    margin-left: -10px;
    margin-right: -10px;
  }

  .cta {
    max-width: 310px;
    margin: 0 10px 15px;
    padding: 10px 15px;
  }

  .directoryTable tr td {
    padding: 15px;
  }

  .infoBox {
    padding: 15px;
  }

  .infoBox .infoTitle img {
    max-width: 30px;
    margin-right: 5px;
  }

  .videoList {
    margin: 0 -15px;
  }

  .videoList .videoBox {
    padding: 15px;
  }

  .videoBox .videoTitle {
    margin-bottom: 1rem;
  }

  .linksList {
    margin: 20px -16px 0;
  }

  .linksList .linksBox li {
    margin-bottom: 26px;
  }

  .linksList .linksBox {
    padding: 0 16px;
  }

  .bigTitle.secTitle .svgImg {
    font-size: 5rem;
  }

  .imgMax img {
    max-height: inherit;
  }
}

/* common css for below screen 991 */

@media only screen and (max-width: 991px) {
  html {
    font-size: 14px;
  }

  .profileInfo {
    max-height: 305px;
  }

  .headerMain .logo ~ .logo {
    margin-right: 15px;
  }

  .selectList .ui-selectmenu-button {
    margin-bottom: 30px !important;
  }

  .navigation li .navIcon {
    width: 44px;
    height: 44px;
  }

  .navigation li .navIcon img {
    padding: 8px;
  }

  .navigation li .navTitle {
    padding-left: 6px;
  }

  .secTitle {
    margin-bottom: 30px;
    font-size: 2.45rem;
  }

  .cta {
    min-width: inherit;
  }

  .cms_style ol li {
    padding-left: 46px;
  }

  .cms_style ol li:after {
    width: 32px;
    height: 32px;
    border-width: 2px;
    font-size: 1.25rem;
  }

  .btn + .btn {
    margin-left: 15px;
  }

  .profileHead .logoBox {
    width: 100%;
    text-align: center;
  }

  .profileHead .logoBox a {
    margin: auto;
  }

  .profileHead .logoBox .absoImg {
    position: static;
  }

  .profileHead .profileInfo {
    width: 100%;
  }

  .infoBox {
    margin-top: 30px;
  }

  .linksList .linksBox {
    width: 50%;
  }

  .linksList .linksBox li {
    margin-bottom: 20px;
  }

  .linksList .linksBox li a:before {
    width: 18px;
    top: 14px;
    height: 1px;
  }

  .linksList .linksBox li a:after {
    width: 9px;
    height: 9px;
    left: 8px;
    top: 10px;
    border-width: 1px;
  }

  .linksList .linksBox li a {
    padding-left: 24px;
  }

  .capitalEft {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .bigTitle.secTitle .svgImg {
    font-size: 4.56rem;
  }
}

/* common css for below screen 767 */

@media only screen and (max-width: 1000px) {
  .midConScroll {
    max-height: inherit !important;
  }

  .videoPage .subTitle + .midConScroll {
    max-height: inherit !important;
  }

  .videoPage .subTitle + .midConScroll .minConHeight {
    min-height: inherit !important;
  }

  html {
    font-size: 12px;
  }

  .headerMain .logo {
    max-width: 140px;
  }

  .headerMain .logo ~ .logo {
    margin-top: 0;
    padding-top: 0;
  }

  .btn {
    border-width: 2px;
    padding: 8px 10px;
    min-width: inherit;
  }

  .btn:after {
    margin-left: 5px;
    border-left-width: 5px;
    border-top-width: 4px;
    border-bottom-width: 4px;
  }

  .socialMain .socialTitle {
    margin-right: 12px;
    font-size: 1rem;
  }

  .socialMain .socialLink {
    margin-right: 15px;
  }

  .socialMain .socialLink img {
    margin-right: 6px;
  }

  .homePage {
    padding: 30px 0;
  }

  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: 100%;
  }

  .bottomBtn {
    padding-top: 10px;
  }

  .bottomBtn .btn_new {
    width: 100%;
    min-width: inherit;
  }

  .btn_new:after {
    width: 41px;
    height: 25px;
  }

  .bottomBtn .btn_new br {
    display: none;
  }

  .btn_new:disabled {
    opacity: 0.6;
  }

  .headerMain {
    padding: 7px 15px;
  }

  .menuIcon {
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
  }

  .leftsideBar {
    width: 220px;
    position: fixed;
    left: -100%;
    top: 90px;
    bottom: 0;
  }

  .slideNav {
    left: 0;
  }

  .leftsideBar .progressSec .progressTitle {
    display: block;
    width: 100%;
    height: auto;
  }

  .leftsideBar .navigation li {
    width: 100%;
  }

  .leftsideBar .navigation li a {
    padding: 10px;
    width: 100%;
  }

  /*.navigation li .navIcon{width:46px; height:46px;}*/

  .navigation li .navIcon img {
    padding: 10px;
  }

  .leftsideBar .navigation li .navTitle {
    opacity: 1;
    height: auto;
    width: auto;
    font-size: 1.125rem;
    left: 0;
    transform: translateX(0);
    margin-top: 6px;
  }

  .btn + .btn {
    margin-left: 10px;
  }

  .leftsideBar .navigation {
    height: calc(100% - 60px);
    overflow: auto;
  }

  .progressSec {
    padding: 10px;
  }

  .progressSec:before {
    display: none;
  }

  .rightSide {
    width: 100%;
    padding: 30px 0 0 0;
  }

  /*.rightSideInner{margin-bottom:30px;}*/

  .back-btn,
  .next-btn {
    padding: 8px 20px;
  }

  .next-btn:before {
    right: 20px;
    top: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  .back-btn:before,
  .next-btn:after {
    width: 10px;
    height: 1px;
  }

  .back-btn:after {
    left: 15px;
    top: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  .secTitle {
    margin-bottom: 20px;
    font-size: 2.25rem;
  }

  .aligncenter {
    margin-bottom: 20px;
  }

  .cta p {
    margin-top: 10px;
  }

  .cta ul {
    margin-top: 10px;
  }

  .cta ul li {
    margin-bottom: 6px;
  }

  .ctaList {
    margin-top: 30px;
  }

  .cms_style ol li {
    padding-left: 40px;
  }

  .cms_style ol li:after {
    width: 30px;
    height: 30px;
    border-width: 2px;
    font-size: 1.25rem;
  }

  .directoryMain .directoryInner {
    max-height: inherit;
  }

  .mCS_no_scrollbar .mCSB_container {
    margin-right: 0;
  }

  .card {
    padding: 15px;
  }

  .profileMain .directoryMain .directoryInner {
    max-height: inherit;
  }

  .infoBox {
    margin-top: 15px;
  }

  .videosMain {
    max-height: inherit;
  }

  .cms_style h5 {
    margin-bottom: 15px;
  }

  .linksList {
    margin-top: 0;
  }

  .linksList .linksBox li {
    margin-bottom: 15px;
  }

  .bigTitle.secTitle .svgImg {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 568px) {
  .directoryTable tr {
    border: 1px solid #dbdcdf;
    padding: 15px;
    display: block;
    background-color: #fff;
  }

  /*.directoryTable tr:nth-child(odd){background-color: #f5f7fa;}*/

  .directoryTable tr td {
    display: block;
    min-width: 100%;
    height: auto;
    border: none;
    text-align: center !important;
    padding: 5px;
    background-color: transparent;
  }

  h5.founded {
    margin-top: -10px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .linksList .linksBox {
    width: 100%;
    border-right: none;
  }

  .linksList .linksBox li {
    margin-bottom: 10px;
  }
}

/* common css for below screen 639 */

@media only screen and (max-width: 639px) {
  .hide-on-mobile {
    display: none;
  }
  .headerMain .btn {
    display: none;
  }

  /*.socialMain .socialTitle{display:block; margin-right:0; margin-bottom:10px;}*/

  .socialMain .socialLink {
    font-size: 0;
    margin-right: 10px;
  }

  .socialMain .socialLink .fa.fa-envelope,
  .socialMain .socialLink .fa {
    font-size: 1.45rem;
    margin-right: 0;
  }

  .socialMain .socialLink img {
    transform: scale(0.9);
  }

  .headerMain .logo {
    max-width: 100px;
  }

  .headerMain .logo img {
    max-height: 60px;
  }

  .leftsideBar {
    top: 78px;
  }

  .homeCont h1 {
    font-size: 2.25rem;

    margin-bottom: 16px;
  }

  .homeCont p br {
    display: none;
  }

  .homePage h2 {
    margin: 10px 0;
    font-size: 1.45rem;
  }

  .selectList {
    margin-top: 20px;
  }

  .selectList .ui-selectmenu-button {
    margin-bottom: 15px !important;
  }

  .btn_new {
    padding: 15px;
    font-size: 1.45rem;
  }

  .btn_new:after {
    width: 30px;
    height: 18px;
    right: 10px;
  }

  .btn_new:disabled {
    opacity: 0.6;
  }

  .headerMain .logo ~ .logo {
    margin-left: 6px;
  }

  .menuIcon {
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    width: 30px;
  }

  .cms_style ol li {
    padding-left: 36px;
  }

  .cms_style ol li:after {
    width: 26px;
    height: 26px;
    border-width: 2px;
    font-size: 1.125rem;
    line-height: 24px;
  }

  .videoList .videoBox {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .headerMain .logo {
    max-width: 80px;
  }
}

/* common css for screen size less than 576 */

@media only screen and (max-width: 576px) {
  .minConHeight {
    min-height: calc(100vh - 400px);
  }

  .hide-on-mobile {
    display: none;
  }

  .bottom_btn {
    margin-bottom: 70px;
  }
}

/* common css for screen size between 568 to 767 */

@media only screen and (min-width: 568px) and (max-width: 767px) {
}

/* common css for screen size between 600 to 767 */

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* common css for screen size between 768 to 1199 */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .homePage {
    background-size: 140%;
  }
}

/* common css for screen size between 768 to 1023 */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homePage .container {
    max-width: 820px;
  }

  .homePage {
    padding: 70px 0;
  }

  .navigation li a,
  .openSidebar,
  .leftsideBar {
    width: 180px;
  }

  .leftsideBar {
    width: 220px;
    position: fixed;
    left: -100%;
    top: 90px;
    bottom: 0;
  }

  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: 100%;
    margin-left: 0px;
  }

  .linksList .linksBox {
    padding: 0 30px;
  }
}

/* common css for screen size between 1024 to 1199 */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .openSidebar + .rightSide,
  .leftsideBar + .rightSide {
    width: calc(100% - 100px);
    margin-left: 160px;
  }
}

@media only screen and (min-width: 992px) {
  .profileInfo {
    height: 305px;
  }
}
